[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-rest-swagger = "*"
drf-yasg = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"